.navbar {
  border-bottom: 1px solid #ddd;
}
.navbar-brand {
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
}
.nav-link {
  font-size: 16px;
  margin-right: 15px;
  color: black !important;
}
.search-box {
  background: #f3f3f3;
  border-radius: 50px;
  padding: 6px 15px;
  width: 350px;
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.search-box input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
}
.icons i {
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer;
}
.hero h1 {
  font-size: 3.2rem;
  line-height: 1.2;
}
.hero {
  background-color: #f3f3f3;
}
.hero p {
  font-size: 1rem;
  max-width: 500px;
}
.hero img {
  max-height: 500px;
  object-fit: contain;
}
.brands h3 {
  font-size: 1.5rem;
  letter-spacing: 1px;
}
.categories-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px 200px;
  gap: 15px;
}

.category-card {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.category-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category-card:hover {
  transform: scale(1.05);
}

.category-card h5 {
  position: absolute;
  bottom: 15px;
  left: 15px;
  background: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  border-radius: 8px;
}

/* Puzzle effect */
.category-card.large {
  grid-row: span 2; /* tinggi 2 baris */
}
.category-card.wide {
  grid-column: span 2; /* lebar 2 kolom */
}

/* Responsif */
@media (max-width: 768px) {
  .categories-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .category-card.large,
  .category-card.wide {
    grid-column: span 2;
    grid-row: auto;
  }
}
#reviews .card {
  border-radius: 16px;
  transition: transform 0.3s ease;
}

#reviews .card:hover {
  transform: translateY(-5px);
}
.footer a:hover {
  color: #000 !important;
}

.newsletter input:focus {
  outline: none;
  box-shadow: none;
}
